fieldset {
    animation-duration: 5s;
    animation-name: heltVanligAnimasjon;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes heltVanligAnimasjon {
    from {
        background-color: lightblue;
        transform: rotateZ(0deg) translateX(0) translateY(0);
    }

    to {
        background-color: yellow;
        transform: rotateZ(360deg) translateX(10%) translateY(-10%);
    }
}
