:root {
    --main-font-familie: Consolas,monaco,monospace;
    --hele-bakgrunnen-i-en: #F3EEF7;
    --main-text-color: black;
    --main-text-shadow: white;
    --event-border: #F5BE42;
    --begrunnelse-border: #F5BE42;
    --templates-border: #F5BE42;
    --nicetoknow-border: #F5BE42;
    --melding-border: 	#F5BE42;
    --temaui-border: #F5BE42;
    --fieldset-background: #FFEFF9;
    --alternate-fieldset-background: #EBFFE9;
    --legend-background-color: #00000000;
    --kvittering-tekst: red;
    --fieldset-box-shadow: 0;
    --rakett: "🌷";
    --tog: "🚝";
    --animasjon: fly;
}
