:root {
    --bakgrunnsfarge: purple;
    --main-text-color: red;
    --main-text-shadow: green;
    --event-border: pink;
    --begrunnelse-border: lightgray;
    --templates-border: black;
    --nicetoknow-border: blue;
    --melding-border: blueviolet;
    --main-background-color: orange;
}
