:root {
    --main-font-familie: Consolas,monaco,monospace;
    --hele-bakgrunnen-i-en: url("static/stjerner.jpg");
    --main-text-color: #ffdd00;
    --main-text-shadow: #cc231e;
    --event-border: #0ff;
    --begrunnelse-border: #0ff;
    --templates-border: #0ff;
    --nicetoknow-border: #0ff;
    --melding-border: #0ff;
    --temaui-border: #0ff;
    --fieldset-background: radial-gradient(circle, rgba(247,240,17,0.5) 0%, rgba(255,162,0,0.9) 100%);
    --alternate-fieldset-background: radial-gradient(circle, rgba(214, 76, 236,0.5) 0%, rgba(145, 8, 155, 0.9) 100%);
    --legend-background-color: rgba(0, 255, 255, 0.7);
    --kvittering-tekst: #cc231e;
    --fieldset-box-shadow: 0px 0px 7px 5px #0ff;
    --rakett: "🎆";
    --tog: "💥";
    --animasjon: fly;
}
