:root {
    --main-font-familie: Consolas,monaco,monospace;
    --hele-bakgrunnen-i-en: white;
    --main-text-color: black;
    --main-text-shadow: white;
    --event-border: red;
    --begrunnelse-border: orange;
    --templates-border: green;
    --nicetoknow-border: blue;
    --melding-border: blueviolet;
    --fieldset-background: lightblue;
    --alternate-fieldset-background: lightblue;
    --legend-background-color: #00000000;
    --kvittering-tekst: red;
    --fieldset-box-shadow: 0;
    --rakett: "🚀";
    --tog: "🚝";
    --animasjon: fly;
}
