:root {
    --bakgrunnsfarge: #235e6f;
    --main-text-color: #cc231e;
    --main-text-shadow: #235e6f;
    --event-border: #0f8a5f;
    --begrunnelse-border: #cc231e;
    --templates-border: #0f8a5f;
    --nicetoknow-border: #cc231e;
    --melding-border: #0f8a5f;
    --main-background-color: #34a65f;
    --alternate-background-color: #cc231e;
    --legend-background-color: #f5624d;
    --rakett: "🎅";
    --tog: "🛷";
}
