:root {
    --bakgrunnsfarge: white;
    --main-text-color: black;
    --main-text-shadow: white;
    --event-border: red;
    --begrunnelse-border: orange;
    --templates-border: green;
    --nicetoknow-border: blue;
    --melding-border: blueviolet;
    --main-background-color: lightblue;
    --alternate-background-color: lightblue;
    --legend-background-color: #00000000;
    --kvittering-tekst: red;
    --rakett: "🚀";
    --tog: "🚝";
}
